:root {
  --brand-light-color: #cfcfbc;
  --brand-normal-color: #819b57;
  --brand-dark-color: #465929;
  --primary-dark-color: #31261a;
  --primary-light-color: #faf4ea;
  --secondary-dark-color: #a28268;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
