.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--primary-dark-color);
  fill: var(--primary-dark-color);
  padding: 0;
  cursor: pointer;
  &.right {
    transform: rotate(180deg);
  }
  &:hover {
    background-color: var(--primary-dark-color);
    fill: var(--primary-light-color);
  }
}
